.statistic {
    width: 100%;
    .table_header {    
        width: 100%;
        background-color: #808080;
        color: white;
        padding: .5rem 0!important;
        display: flex;
        justify-content: space-around;
        text-align: center;
        .w-10 {
            width: 10%;
        }
        .w-70 {
            width: 60%;
        }
    }
    .table_content {
        background: #6CA340;
        color: white;
        padding: 1rem 0;
        margin-top: .3rem;
    }
}