<div class="statistic">
    <div class="table_header">
        <div class="w-70">Tabla General</div>
        <div class="w-10">JJ</div>
        <div class="w-10">DG</div>
        <div class="w-10">PTS</div>
    </div>
    <div class="table_content">
        <div *ngIf="statistics.length > 0; else error_content">
            
        </div>
        <ng-template #error_content>
            <span>No hay información disponible</span>
        </ng-template>
    </div>
</div>