<div class="modal-player">
    <div class="green-card">
        <h3>FICHA TÉCNICA</h3>
        <div class="img-card-player">
            <img src="{{ data.image }}"/>
        </div>
        <p>{{ data.name }} {{ data.first_surname}} {{ data.second_surname}}</p>
        <p>{{ data.position }}</p>
    </div>
    <div class="white-card">
        <div>
            <h3>Fecha de Nacimiento</h3>
            <p>{{ data.birthday | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div>
            <h3>Lugar de Nacimiento</h3>
            <p>{{ data.birth_place }}</p>
        </div>
        <div>
            <h3>Peso</h3>
            <p>{{ data.weight }}</p>
        </div>
        <div>
            <h3>Altura</h3>
            <p>{{ data.height }}</p>
        </div>
        <div>
            <h3>Equipo Anterior</h3>
            <p>{{ data.last_team }}</p>
        </div>
    </div>
</div>