.modal-player {
    .green-card {
        padding: 1rem 0;
        background-color: #2F4E2A;
        h3, p {
            color: white;
            text-align: center;
        }
        .img-card-player {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            img {
                width: 40%;
                height: auto;
                border-radius: 50%;
            }
        }
    }
    .white-card {
        text-align: center;
    }
}
