mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}


::ng-deep .mat-dialog-container {
    padding: 0px !important;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}