.home {
    padding: .4rem 0;
    background: white;
    .home-header {
        width: 100%;
        .container-img {
            width: 15%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .home-content {
        width: 50%;
        margin: 0 auto;
        .btn-league {
            display: flex;
            width: 100%;        
            .btn {
                display: inline-block;
                padding: 1rem;
                text-align: center;
                font-size: 1.3rem;
                width: 50%;
                border: 2px solid #ccc;
                background: white;
                cursor: pointer;
            }
        }
        .date {
            padding: .3rem .2rem;
            color: white;
            text-transform: uppercase;
            background-color: #808080;
        }
        .result {
            background-color: #6ca340;
            width: 100%;
            color: white;
            display: flex;
            justify-content: space-evenly;
            .calendar {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                text-align: center;
            }
            .result-game {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                .scores {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                .team {
                    width: 35%;
                    padding: .2rem 0;
                    text-align: center;
                    .img-team {
                        width: 50%;
                        margin: 0 auto;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .home {
        .home-header {
            .container-img {
                width: 40%;
            }
        }
        .home-content {
            width: 100%;
        }
    }
}