<div class="home">
    <div class="home-header">
        <div class="container-img">
            <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" alt="image" />
        </div>
    </div>

    <div class="home-content">
        <div class="btn-league">
            <a class="btn" (click)="filterData('Copa MX')">COPA MX</a>
            <a class="btn" (click)="filterData('Ascenso MX')">ASCENSO MX</a>
        </div>
        <div *ngFor="let item of filterGame">
            <div *ngFor="let obj of item.games; let i=index">
                <div class="date" *ngIf="i == 0">{{ obj.datetime | date: 'MMMM'}}</div>
                <div class="result">
                    <div class="calendar">
                        <mat-icon>calendar_today</mat-icon>
                        <div>{{ obj.datetime | date: 'MMMM d'}}</div>
                    </div>
                    <div class="result-game">
                        <div class="team">
                            <div class="img-team">
                                <img src="{{ !obj.local ? obj.opponent_image : obj.image }}" />
                            </div>
                            {{ obj.local ? 'Venados F.C.' : obj.opponent }}
                        </div>

                        <div class="scores"> {{ obj.home_score }} - {{ obj.away_score }}</div>

                        <div class="team">
                                <div class="img-team">
                                    <img src="{{ obj.local ? obj.opponent_image : obj.image }}" />
                                </div>
                                {{ !obj.local ? 'Venados F.C.' : obj.opponent }}
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>