<mat-nav-list>
    <div class="header__sidenav">
        <div class="container-logo">
            <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" alt="image" />
        </div>
    </div>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/statistic" (click)="onSidenavClose()">
        <span class="nav-caption">Estadísticas</span>
    </a>
    <a mat-list-item routerLink="/players" (click)="onSidenavClose()">
        <span class="nav-caption">Jugadores</span>
    </a>
</mat-nav-list>