a {
    text-decoration: none;
    color: white;
}
 
a:hover {
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.header__sidenav {
    height: 15rem;
    .container-logo {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        img {
            width: 100%;
        }    
    }
}