.players-content {
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .card-content {
        width: 20%;
        margin-top: 10px;
       
        .content-basic-info {
            border-radius: 50%;
            background-color: #6ca340;
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
                width: 70%;
                height: auto;
                margin: 1rem 0;
                border-radius: 100%;
                
            }
        }
        p {
            text-align: center;
        }
    }
}

@media (max-width: 400px) {
    .players-content {
        .card-content {
            width: 30%;
            .content-basic-info {
                align-self: center;
                align-items: center;
            }
            p {
                text-align: center;
                font-size: 10px;
            }
        }
    }
}

.mat-dialog-container {
    padding:0px!important;
}