<div class="players-content">
    <div class="card-content" *ngFor="let item of playerForward">
        <div class="content-basic-info" (click)="openDialog(item)">
            <img src="{{ item['image'] }}" alt="image" />
        </div>
        <p>{{ item['name'] }}</p>

    </div>

    <div class="card-content" *ngFor="let item of playerCenter">
        <div class="content-basic-info" (click)="openDialog(item)">
            <img src="{{ item['image'] }}" alt="image" />
        </div>
        <p>{{ item['name'] }}</p>

    </div>

    <div class="card-content" *ngFor="let item of playerDefense">
        <div class="content-basic-info" (click)="openDialog(item)">
            <img src="{{ item['image'] }}" alt="image" />
        </div>
        <p>{{ item['name'] }}</p>

    </div>

    <div class="card-content" *ngFor="let item of playerGoalkeeper">
        <div class="content-basic-info" (click)="openDialog(item)">
            <img src="{{ item['image'] }}" alt="image" />
        </div>
        <p>{{ item['name'] }}</p>

    </div>


</div>